.nav {

  &__list {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5rem;

    &-item {
      list-style: none;
      text-transform: uppercase;

      &-link {
        text-decoration: none;
        color: darkseagreen;
      }

      &-link:hover {
        color: lightcoral;
        border-bottom: 2px solid lightcoral;
      }
    }
  }
}