.MatchedPairsList__container {
  width: 17rem;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin: 5px;

  & tr {
    display: flex;
    align-items: center;

   td {
      padding: 2px 10px;
    }
  }

  & img {
    max-width: 40px;
    background-color: white;
  }
}