.Game {
  display: flex;
  flex-direction: row;


  &__extensions {
    display: flex;
    flex-direction: column;



  }

}

.Game__main__extensions__button {
  width: 7rem;
  height: 3rem;
  background-color: gold;
  border: 2px solid goldenrod;
  margin: 20px;
}