.Game {
  display: flex;
  flex-direction: row;

  &__main__extensions {
    display: flex;
    flex-direction: column;
    padding: 25px;

    &__button {
      width: 11rem;
      height: 3rem;
      font-size: 1.50rem;
      font-weight: 700;
      background-color: gold;
      border: 2px solid goldenrod;
      border-radius: 4em;
      margin: 10px auto;

      &:hover {
        transition-duration: 0.2s;
        background-color: #F2D853;
        border-color: #F2E888;
      }

      &:active {
        position: relative;
        top: 1px
      }
    }
  }

}
